/*Ajustes universais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.center{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clear{
    clear: both;
}
/*Ajustes do Cabeçalho*/
header{
    height: 90px;
    line-height: 90px;
    background-color: #F5F5F5;
    position: sticky;
    top: 0;
    width: 100%;
}
.logo img{
    margin-top: 28px;
    margin-bottom: 27px;
    float: left;
}
.logo span{
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    line-height: 90px;
    color: #3B3B3B;
    float: left;
}
.menu{
    line-height: 90px;
    float: right;    
}
.menu a{
    color: #707070;
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;
}
.menu a:hover{
    cursor: pointer;
}
button{
    width: 115px;
    height: 40px;
    background-image: linear-gradient(237deg, #6ACBE0 0%, #6859EA 100%);
    border: 0;
    border-radius: 23px;
    color: #FFFFFF;
    font-size: 16px;
    box-shadow: 0px 0px 5px #3B3B3B;
}
button:hover{
    cursor: pointer;
}
/*Ajustes da primeira Seção */
.section1{
    background-color: #F5F5F5;
    padding-top: 55px;
    padding-bottom: 95px;
    width: 100%;
}
.section1 .center{
    display: flex;
}
.primeiracoluna{
    width: 35%;
}
.primeiracoluna img{
    max-width: 400px;
    width: 100%;
}
.segundacoluna{
    padding-top: 136px;
    padding-left: 200px;
    width: 65%;
}
.segundacoluna h2{
    color: #3B3B3B;
    max-width: 550px;
    width: 100%;
    font-size: 36px; 
}
.segundacoluna p{
    max-width: 550px;
    width: 100%;
    font-size: 14px ;
    margin-top: 25px; 
    color: #707070; 
}
.segundacoluna button{
    margin-top: 40px;
}
/*Ajustes da Seção sobre o produto */
.section2{
    width: 100%;
    background-color: #FEFEFE;
    padding: 0 55px;
}
.section2 .center{
    display: flex;
}
.primeiracoluna2{
    width: 50%;
}
.primeiracoluna2 h2{
    margin-top: 110px;
    max-width: 550px;
    width: 100%;
    font-size: 36px; 
    color: #3B3B3B;
}
.primeiracoluna2 p{
    max-width: 550px;
    width: 100%;
    font-size: 14px ;
    margin-top: 25px; 
    color: #707070; 
}
.primeiracoluna2 button{
    margin-top: 40px;
}
.segundacoluna2{
    padding-left: 100px;
    margin: 55px 0;
}
/*Ajustes da Seção sobre os recursos*/
.section3{
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 110px;
    padding-bottom: 130px;
}
.section3top h2{
    text-align: center;
    font-size: 36px; 
    color: #3B3B3B;
}
.section3top p{
    font-size: 14px ;
    margin: auto;
    margin-top: 20px; 
    color: #707070;
    width: 496px;
    text-align: center;
}
.section3bottom{
    display: flex;
    flex-wrap: wrap;
}
.icone{
    width: 33.3%;
    margin-top: 60px;

}
.icone img{
    display: block;
    margin: auto;
}
.icone h4{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.icone p{
    margin-top: 10px;
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}
/*Seção sobre o Motivo para comprar*/
.section4{
    width: 100%;
    background-color: #FEFEFE;
    padding-top: 95px;
    padding-bottom: 95px;
}
.section4 .center{
    display: flex;
}
.primeiracoluna4{
    width: 50%;

}
.segundacoluna4{
    width: 50%;
}
.segundacoluna4 h2{
    font-size: 36px; 
    color: #3B3B3B;
    margin-top: 20px;
}
.segundacoluna4 p{
    font-size: 14px ;
    margin: auto;
    margin-top: 25px; 
    color: #707070;
    line-height: 19px;
}
.segundacoluna4 li{
    list-style-image: url(imagens/checked.png);
    color: #707070;
    list-style-position: inside;
    font-size: 14px;
    margin-top: 10px;
    line-height: 19px;
}
/*Seção com os produtos*/
.section5{
    width: 100%;
    background-image: linear-gradient(236deg, #6ACBE0 0%, #6859EA 100%);
    padding-top: 110px;
    padding-bottom: 120px;
}
.section5top h2{
    text-align: center;
    font-size: 36px; 
    color: #FFFFFF;
}
.section5top p{
    font-size: 14px;
    margin: auto;
    margin-top: 20px; 
    color: #FFFFFF;
    width: 496px;
    text-align: center;
}
.section5bottom{
    display: flex;
    margin-top: 60px;
}
.produto{
    width: 33.3%;
}
.produto img{
    width: 100%;
}
.produto h4{
    margin-top: 15px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
.produto h3{
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}
.produto button{
    border: 2px solid #FFFFFF;
    background-color:transparent;
    background-image: none;
    box-shadow: none;
    display: block;
    margin: auto;
    margin-top: 20px;
}
/* Seção com os testemunhos */
/* Descrição */
.section6{
    padding-top: 110px;
    padding-bottom: 122px;
}
.section6top h2{
    text-align: center;
    font-size: 36px; 
    color: #3B3B3B;
}
.section6top p{
    font-size: 14px ;
    margin: auto;
    margin-top: 20px; 
    color: #707070;
    width: 496px;
    text-align: center;
}
/* Testemunhos */
.section6mid{
    width: 100%;
    margin-top: 60px;
    padding-left: 96px;
    padding-right: 96px;
}
.section6mid .left{
    margin-top: 114px;
    float: left;
}
.section6mid .right{
    margin-top: 114px;
    float: right;
}
/* Testemunhos */
.testemunhos{
    display: flex;
    margin-left: 65px;
    margin-right: 35px;
}
.testemunho{
    max-width: 270px;
    width: 30%;
    margin-right: 30px;
}
.testemunho .pessoa{
    display: flex;

} 
.testemunho .pessoa img{
    margin-left: 20px;
    display: inline-block;
    width: 80px;
}
.testemunho .pessoa div{
    margin-top: 25px;
}
.testemunho .pessoa p{
    margin-left: 20px;
    font-size: 14px;
    color: #707070;
}
.testemunho .pessoa .bold{
    font-weight: bold;
    color: #707070;
}
.testemunho .texto::after{
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #EAF4FC;
    top: -10px;
    position: absolute;
    left: 40px
}   
.testemunho .texto{
    position: relative;
    width: 100%;
    background-color: #EAF4FC;
    padding: 20px;
    margin-top: 20px;
}
.testemunho .texto p{
    font-size: 14px;
    color: #707070;
    font-style: italic;
}
/* Bullets */
.section6bottom{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
   text-align: center;    
}
.bullet1, .bullet2, .bullet3{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #C1C1C1;
    margin-right: 15px;
    display: inline-block;
}
.bullet3{
    margin-right: 0;
}
.active{
    background-image: linear-gradient(180deg, #6ACBE0 0%, #6859EA 100%);
}


@media only screen and (max-width: 1024px){
    .center{
        max-width: 900px;
    }
}

