*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.center{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}
.clear{
    clear: both;
}
header{
    height: 90px;
    line-height: 90px;
    background-color: #F5F5F5;
}
.logo img{
    float: left;
    margin-top: 28px;
    margin-bottom: 27px;
}
.logo span{
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    line-height: 90px;
    color: #3B3B3B;
    
}
.menu{
    float: right;
    line-height: 90px;
    
}
.menu a{
    color: #707070;
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;
}
.menu a:hover{
    cursor: pointer;
}
button{
    width: 115px;
    height: 40px;
    background-image: linear-gradient(237deg, #6ACBE0 0%, #6859EA 100%);
    border: 0;
    border-radius: 23px;
    color: #FFFFFF;
    font-size: 16px;
    box-shadow: 0px 0px 5px #3B3B3B;
}
button:hover{
    cursor: pointer;
}
.section1{
    background-color: #F5F5F5;
    height: 650px;
    display: flex;
}
.section1 .center{
    display: flex;
}
.primeiracoluna{
    width: 35%;
    display: ;

}
.primeiracoluna img{
    max-width: 400px;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 95px;

}
.segundacoluna{
    padding-top: 136px;
    padding-left: 200px;
    width: 65%;
}
.segundacoluna h2{
    color: #3B3B3B;
    max-width: 550px;
    width: 100%;
    font-size: 36px; 
}
.segundacoluna p{
    max-width: 550px;
    width: 100%;
    font-size: 16px ;
    margin-top: 25px; 
    color: #707070; 
}
.segundacoluna button{
    margin-top: 40px;
}
.section2{
    height: 490px;
}
.section2 .center{
    display: flex;
}
.primeiracoluna2{
    width: 50%;
}
.primeiracoluna2 h2{
    margin-top: 110px;
    max-width: 550px;
    width: 100%;
    font-size: 36px; 
    color: #3B3B3B;
}
.primeiracoluna2 p{
    max-width: 550px;
    width: 100%;
    font-size: 16px ;
    margin-top: 25px; 
    color: #707070; 
}
.primeiracoluna2 button{
    margin-top: 40px;
}
.segundacoluna2{
    padding-left: 100px;
    margin: 55px 0;
}
.section3{
    height: 810px;
    background-color: #F5F5F5;
}
