/*Ajustes universais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.center{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}
.clear{
    clear: both;
}
/*Ajustes do Cabeçalho*/
header{
    height: 90px;
    line-height: 90px;
    background-color: #F5F5F5;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.logo img{
    margin-top: 28px;
    margin-bottom: 27px;
    float: left;
}
.logo span{
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    line-height: 90px;
    color: #3B3B3B;
    float: left;
}
.menu{
    line-height: 90px;
    float: right;    
}
.menu a{
    color: #707070;
    font-size: 16px;
    font-weight: 700;
    margin-right: 40px;
}
.menu a:hover{
    cursor: pointer;
}
button{
    width: 115px;
    height: 40px;
    background-image: linear-gradient(237deg, #6ACBE0 0%, #6859EA 100%);
    border: 0;
    border-radius: 23px;
    color: #FFFFFF;
    font-size: 16px;
    box-shadow: 0px 0px 5px #3B3B3B;
}
button:hover{
    cursor: pointer;
}
/*Ajustes da primeira Sessão */
.section1{
    background-color: #F5F5F5;
    padding-top: 55px;
    padding-bottom: 95px;
}
.section1 .center{
    display: flex;
}
.primeiracoluna{
    width: 35%;
}
.primeiracoluna img{
    max-width: 400px;
    width: 100%;
}
.segundacoluna{
    padding-top: 136px;
    padding-left: 200px;
    width: 65%;
}
.segundacoluna h2{
    color: #3B3B3B;
    max-width: 550px;
    width: 100%;
    font-size: 36px; 
}
.segundacoluna p{
    max-width: 550px;
    width: 100%;
    font-size: 14px ;
    margin-top: 25px; 
    color: #707070; 
}
.segundacoluna button{
    margin-top: 40px;
}
/*Ajustes da Sessão sobre o produto */
.section2{
    background-color: #FEFEFE;
    padding: 0 55px;
}
.section2 .center{
    display: flex;
}
.primeiracoluna2{
    width: 50%;
}
.primeiracoluna2 h2{
    margin-top: 110px;
    max-width: 550px;
    width: 100%;
    font-size: 36px; 
    color: #3B3B3B;
}
.primeiracoluna2 p{
    max-width: 550px;
    width: 100%;
    font-size: 14px ;
    margin-top: 25px; 
    color: #707070; 
}
.primeiracoluna2 button{
    margin-top: 40px;
}
.segundacoluna2{
    padding-left: 100px;
    margin: 55px 0;
}
/*Ajustes da Sessão sobre os recursos*/
.section3{
    background-color: #F5F5F5;
    padding-top: 110px;
    padding-bottom: 130px;
}
.section3top h2{
    text-align: center;
    font-size: 36px; 
    color: #3B3B3B;
}
.section3top p{
    font-size: 14px ;
    margin: auto;
    margin-top: 20px; 
    color: #707070;
    width: 496px;
    text-align: center;
}
.section3bottom{
    display: flex;
    flex-wrap: wrap;
}
.icone{
    width: 33.3%;
    margin-top: 60px;

}
.icone img{
    display: block;
    margin: auto;
}
.icone h4{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.icone p{
    margin-top: 10px;
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}
/*Sessão sobre o Motivo para comprar*/
.section4{
    background-color: #FEFEFE;
    padding-top: 95px;
    padding-bottom: 95px;
}
.section4 .center{
    display: flex;
}
.primeiracoluna4{
    width: 50%;

}
.segundacoluna4{
    width: 50%;
}
.segundacoluna4 h2{
    font-size: 36px; 
    color: #3B3B3B;
    margin-top: 20px;
}
.segundacoluna4 p{
    font-size: 14px ;
    margin: auto;
    margin-top: 25px; 
    color: #707070;
    line-height: 19px;
}
.segundacoluna4 ul{

}
.segundacoluna4 li{
    list-style-image: url(imagens/checked.png);
    color: #707070;
    list-style-position: inside;
    font-size: 14px;
    margin-top: 10px;
    line-height: 19px;
}
